.navbar-brand .logo {
    width: 150px;
}

.header .navbar {
    background-color: #0a1f44;
}


.color-primary {
    color: #0a1f44;
}

.color-gold {
    color: #c2a146 !important;
}


.homeService {
    background-color: #e7e7e763
}

.whyPartner .feature-card .feature-card-icon i {
    font-size: 36px;
}

.WhatSetsApart .info-card .info-card-step,
.WhatSetsApart .info-card .info-card-title {
    color: #0a1f44;
}

.whyPartner .feature-card .feature-card-title {
    color: #fff !important;

}

.footer--widget ul {
    padding-left: 0px;
    list-style: none;
}

.footer--widget ul li {
    line-height: 27px;
}

.serviceAbout {
    background-color: #e7e7e763
}

.serviceAbout .btn {
    width: unset;
    padding: 0 15px;
    color: #fff;
    background-color: #0a1f44 !important;
}

.serviceAbout .btn:hover {
    color: #0a1f44;
    background-color: #fff !important;
    border: 1px solid #0a1f44;
}

#business-models img {
    transition: transform 0.4s ease;
}

#business-models img:hover {
    transform: scale(1.03);
}

#business-models .row {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 2rem;
}

#business-models .row:last-child {
    border-bottom: none;
}

#business-models h4 {
    margin-top: 10px;
}

#business-models .btn--bordered.btn--secondary {
    border-radius: 50px;
}

.serviceSections p {
    margin-bottom: 5px;
    line-height: 1.5;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Overlay for text slider */
.overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Slight dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    position: static;
    text-align: center;
    color: #fff;
}

.slide--bio {
    font-size: 26px !important;
    line-height: 1.5 !important;
}

.slide-action .btn {
    margin-top: 20px;
    padding: 0px 30px;
}

.btn-padding {
    padding: 0px 30px;
}

.about-expetise li {
    color: #fff;
    font-size: 16px;
}
.about-heading .heading {
    margin-bottom: 20px;
}

.pricing-panel {
    background-color: #fff;
}

.pricing-panel .pricing--heading h4 {
    font-size: 20px;
    line-height: 1.2;
}

.pricing-panel .pricing--heading {
  padding: 30px 30px 50px;
}

.pricing-panel .pricing--heading .pricing--desc {
    color: #000 !important;
}


.whyPartner.featured-2 .col-content {
        padding: 80px 90px 50px 120px;
} 

.business-model-details p {
    line-height: 24px;
    margin-bottom: 10px;
}

.business-model-details h6  {
    margin-bottom: 10px;
    margin-top: 20px;
}

.business-model-details li {
    color: #000;
    font-size: 14px;
}